<%= form_for(@race, url: "/admin/race/#{@race.id || ''}") do |r| %>
  
<table class="add-table-box">
  <tr>
    <th class="req" >レース名</th>
    <td colspan="3">
      <%= r.text_field :name, size: 60, maxlength: 20%>
    </td>
  </tr>
  <tr>
    <th class="req" >ジャンル</th>
    <td colspan="3">
       <%= r.collection_select :genre_id, @genres, :id, :name %>
    </td>
  </tr>
  <tr>
  <tr>
    <th class="req" >グレード</th>
    <td colspan="3">
       <%= r.select :grade, Race::GRADES.map {|k,v| [v,k]}, include_blank: true %>
    </td>
  </tr>
  <tr>
    <th class="req" >タイプ</th>
    <td colspan="3">
      <%= r.text_field :etype, size: 30, maxlength: 15%>
    </td>
  </tr>
  <tr>
    <th rowspan="4" class="req">期間</th>
    <th rowspan="2">集計</th>
    <td colspan="2"><span>開始日　</span><%= r.date_select :collect_start, use_month_numbers: true %></td>
  </tr>
  <tr>
    <td colspan="2"><span>終了日　</span><%= r.date_select :collect_end, use_month_numbers: true %></td>
  </tr>
    <th rowspan="2">レース</th>
    <td colspan="2"><span>開始日時　</span><%= r.datetime_select :start_date, use_month_numbers: true %></td>
  <tr>
    <td colspan="2"><span>終了日時　</span><%= r.datetime_select :end_date, use_month_numbers: true %></td>
  </tr>
  <tr>
    <% rows = 10 * 3 %>
    <th rowspan="<%= rows %>">出走馬</th>
    <%= render partial: 'race_horse', locals: { index: 0 } %>
  </tr>
  <% (1..9).each do |i| %>
    <%= render partial: 'race_horse', locals: { index: i } %>
  <% end %>

</table>

<ul class="jquery-ui-button" style="margin-top:30px;">
  <li style="text-align:center;">
    <%= r.submit '登録', style: "width:160px;height:45px;", class: "btn" %>
    <% if @race.id %>
      <%= link_to '削除', "/admin/race/#{@race.id}", method: :delete, :confirm => "本当に削除しますか?", style: "width:160px;height:35px;", class: "btn btn-danger" %>
    <% end %>
  </li>
</ul>

<% end %>
        
<style type="text/css">
.setubi_grp label{
  font-size:100%;
  width:165px;
  display:block;
  float:left;
}

.add-table-box {
  width:100%;
  font-size:85%;
  border-spacing:0;
  border-collapse:collapse;
}
.add-table-box ul{
  list-style: none;
}
.add-table-box th {
  padding:10px 10px;
  text-align:left;
  background:#fafafa;
  border:1px solid #ccc;
  width:150px;
}
.add-table-box td {
  padding:10px 10px;
  text-align:left;
  min-width:150px;
  border:1px solid #ccc;
}
.jquery-ui-button {
  list-style-type:none;
}
</style>
