<!-- レース　詳細ページ　仮配置  -->

<!-- エラーメッセージ。TODO 協調表示する -->
<% if flash[:error] %>
  <p><%= flash[:error] %></p>
<% end %>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<h2 style="display:block;background:#333;padding:10px;color:#FFF;font-size:190%;font-weight:bold;border-radius:5px 5px 0 0">
	<i class="icon-trophy icon-margin-right" style="font-size:120%;font-weight:normal;color: yellow"></i>
	<%= @race.name %>
</h2>

<!-- ここに form タグを挿入すること -->
<% unless @card %>
  <%= form_tag voting_cards_path(@race) do %>
    <%= render 'race_table' %>
  <% end %>
<% else %>
  <%= render 'race_table' %>
<% end %>

<style type="text/css" media="screen">
#vote-table td {width:97px;}
.require {margin-top:10px;margin-bottom:5px;}
label.valid-message {
	color:#FFF;
	background:#FF7700;
	font-weight:bold;
	line-height:2.2em;
	padding:0 3px;
	border-radius:5px;
	border:2px solid #FF7700;
	display:block;
	position: relative;
}
label.valid-error{
	color:#FFF;
	background:#FF7700;
}
label.valid-success{
	color:#FF6600;
	background: #FAFAFA;
	border:2px solid #999;
}
</style>
<script type="text/javascript" charset="utf-8">
$(window).load(function()
{
	var voteForm = $("#vote-form");
	var require = $(".require");
	var errorCount   = 0;
	var errorAlertMessage = '必須項目を全て、選択してから投票してください！';
	var errorLabel = 'valid-error';
	var successLabel = 'valid-success';
	var errorLabelMessage = '3つ';
	var successLabelMessage = 'OK';
	var validCount = 0;
	validateInitialize();
	
	voteForm.submit(function()
	{
		var expectionCounts =  _getExpectionCountsArray()
		if ( expectionCounts['honmei'] === 1 && expectionCounts['taikou'] === 1 && expectionCounts['himo'] === 1 )
		{
			alert("この値ならば登録できます");
			return true;
		} 
		else
		{
			alert("登録できません。")
			return false;
		}
	});
	
	function _getExpectionCountsArray()
	{
		var expection = {honmei: 1,taikou: 2,himo: 3};
		var expectionCounts = {honmei:0,taikou:0,himo:0};
		require.each(function()
		{
			if( $(this).val() == expection['honmei'] )
			{
				expectionCounts['honmei']++;
			} 
			else if( $(this).val() == expection['taikou'] )
			{
				expectionCounts['taikou']++;
			}
			else if( $(this).val() == expection['himo'] )
			{
				expectionCounts['himo']++;
			}
		});
		return expectionCounts;
	}
	/**
	 * 投票フォームを送信した時に
	 * weightを選択したかチェックする。
	 * 全部選択していたら、送信画面へ。
	 * @return boolean(void)
	 */
	/*
	voteForm.submit(function()
	{
		errorCount = 0
		require.each(function()
		{
			if( 0 >= $(this).val().length )
			{
				_errorMessage( $(this).attr('id') );
				errorCount++;
			}
			else
			{
				_successMessage( $(this).attr('id') );
			}
		});
		if ( errorCount > 0 ) alert( errorAlertMessage );
		return 0 >= errorCount ? true : false ;
	});*/
	
	/**
	 * 投票フォームの必須項目の選択内容が、
	 * 選択した時に、他の必須項目も正しいかどうか
	 * リアルタイムで確認させるための処理。
	 * @return void
	 */
	
	/*
	require.change(function()
	{
		if( 0 >= $(this).val() )
		{
			_errorMessage( $(this).attr('id') );
		}
		else
		{
			_successMessage( $(this).attr('id') );
		}
	});*/
	
	/**
	 * 画面読み込み時に、投票フォームの
	 * 項目を確認する。戻る等のボタンを押して
	 * キャッシュが残っている時にも対応。
	 * @return void
	 */
	function validateInitialize()
	{
		require.each(function()
		{
			if( 0 >= $(this).val() )
			{
				_errorMessage( $(this).attr('id') );
			}
			else
			{
				_successMessage( $(this).attr('id') );
			}
		});
	}
	
	/**
	 * 選択項目が正しい時のメッセージ
	 * @param id string
	 * @return void
	 */
	function _successMessage(id)
	{
		if(typeof id !== 'undefined')
		{
			$('label[for="'+id+'"]')
				.removeClass( errorLabel )
				.addClass( successLabel );
			$('label[for="'+id+'"]')
				.text( successLabelMessage );
		}
	}
	
	/**
	 * 選択項目が誤っている時のメッセージ
	 * @param id string
	 * @return void
	 */
	function _errorMessage(id)
	{
		if(typeof id !== 'undefined')
		{
			$('label[for="'+id+'"]')
				.removeClass( successLabel )
				.addClass( errorLabel )
			$('label[for="'+id+'"]')
				.text( errorLabelMessage );
		}
	}
	
});
</script>
