<!-- レース　詳細ページ　仮配置  -->
<% if @card and @card.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@card.errors.count, "error") %> prohibited this book from being saved:</h2>
    <ul>
    <% @card.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<!-- エラーメッセージ。TODO 協調表示する -->
<% if flash[:error] %>
  <div id="error_explanation">
    <p><%= flash[:error] %></p>
  </div>
<% end %>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<h2 style="display:block;background:#333;padding:10px;color:#FFF;font-size:190%;font-weight:bold;border-radius:5px 5px 0 0">
	<i class="icon-trophy icon-margin-right" style="font-size:120%;font-weight:normal;color: yellow"></i>
	出走馬一覧
</h2>
<!-- ここに form タグを挿入すること -->
<div id="rece-list">
<% unless @card %>
  <%= form_tag voting_cards_path(@race), id: 'vote-form' do %>
    <%= render 'races/race_table' %>
  <% end %>
<% else %>
  <%= render 'races/race_table' %>
<% end %>
</div>