<!-- レース　詳細ページ　仮配置  -->
<%= @error %>
<h2 style="display:block;background:#333;padding:10px;color:#FFF;font-size:190%;font-weight:bold;border-radius:5px 5px 0 0">
	<i class="icon-trophy icon-margin-right" style="font-size:120%;font-weight:normal;color: yellow"></i>
	<%= @race.name %>
</h2>
<!-- ここに form タグを挿入すること -->
<form action="#" id="vote-form" method="post" accept-charset="utf-8">
<table id="vote-table">
	<thead>
		<tr>
		<% @race.race_horses.size.downto(1) do |number| %>
			<th class="<%= horse_number_colors(number - 1) %>"><%= number %></th>
		<% end %>
			<!-- ここまで -->
			<th>　</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		<% @race.race_horses.reverse_each do |race_horse| %>
			<td><%= row_text(race_horse.book.title).html_safe %></td>
		<% end %>
			<td class="title"><%= row_text("著名").html_safe %></td>
		</tr><!--　著名 -->
		<tr>
		<% @race.race_horses.reverse_each do |race_horse| %>
			<td><%= race_horse.book.author %></td>
		<% end %>
			<td class="title"><%= row_text("著者").html_safe %></td>
		</tr><!-- 著者 -->
		<tr>
		<% @race.race_horses.reverse_each do |race_horse| %>
			<td><%= race_horse.book.publisher %></td>
		<% end %>
			<td class="title"><%= row_text("出版社").html_safe %></td>
		</tr><!-- 出版社 -->
		<tr>
		<% if @voting_card == nil %>
			<% @race.race_horses.size.downto(1) do |i| %>
			<td>
				<label for="point_weight<%= i %>" class="valid-message"></label>
				<select name="point_weight<%= i %>" id="point_weight<%= i %>" class="require lib-select lib-select-small">
					<option value=""> </option>
					<% VoteItem::EXPECTATION.each do |key,value| %>
					<option value="<%= key %>"><%= value %></option>
					<% end %>
				</select>
				<input type="hidden" name="horse_id<%= i %>" value="<%= @race.race_horses[i - 1].id %>" >
			</td>
			<% end %>
		<% else %>
			<% @voting_card.vote_items.each do |vote_item| %>
			<td>
				<select class="lib-select lib-select-small" disabled>
					<option value=""><%= VoteItem::EXPECTATION[vote_item.point_weight] %></option>
				</select>
			</td>
			<% end %>
		<% end %>
			<td class="title"><%= row_text("選択").html_safe %></td>
		</tr>
	</tbody>
</table>
<div class="submit lib-aside-mTop" style="text-align: center">
<% if @voting_card == nil %>
	<button class="lib-btn-black lib-button-large" style="font-size:200%;">投票する</button>
<% end %>
	<%= link_to "戻　る" , root_path , :class => "lib-btn lib-button-large" , :style => "margin-left:20px;font-size:200%;" %>
	<input type="hidden" name="race_id" value="<%= @race.id %>" />
</div>
</form>
<style type="text/css" media="screen">
#vote-table td {width:97px;}
.require {margin-top:10px;margin-bottom:5px;}
label.valid-message {
	color:#FFF;
	background:#FF7700;
	font-weight:bold;
	line-height:2.2em;
	padding:0 3px;
	border-radius:5px;
	border:2px solid #FF7700;
	display:block;
	position: relative;
}
label.valid-error{
	color:#FFF;
	background:#FF7700;
}
label.valid-success{
	color:#FF6600;
	background: #FAFAFA;
	border:2px solid #999;
}
</style>
<script type="text/javascript" charset="utf-8">
$(window).load(function()
{
	var voteForm = $("#vote-form");
	var require = $(".require");
	var errorCount   = 0;
	var errorAlertMessage = '必須項目を全て、選択してから投票してください！';
	var errorLabel = 'valid-error';
	var successLabel = 'valid-success';
	var errorLabelMessage = '必須です';
	var successLabelMessage = 'OK';
	
	validateInitialize();
	
	/**
	 * 投票フォームを送信した時に
	 * weightを選択したかチェックする。
	 * 全部選択していたら、送信画面へ。
	 * @return boolean(void)
	 */
	voteForm.submit(function()
	{
		errorCount = 0
		require.each(function()
		{
			if( 0 >= $(this).val().length )
			{
				_errorMessage( $(this).attr('id') );
				errorCount++;
			}
			else
			{
				_successMessage( $(this).attr('id') );
			}
		});
		if ( errorCount > 0 ) alert( errorAlertMessage );
		return 0 >= errorCount ? true : false ;
	});
	
	/**
	 * 投票フォームの必須項目の選択内容が、
	 * 選択した時に、他の必須項目も正しいかどうか
	 * リアルタイムで確認させるための処理。
	 * @return void
	 */
	require.change(function()
	{
		if( 0 >= $(this).val() )
		{
			_errorMessage( $(this).attr('id') );
		}
		else
		{
			_successMessage( $(this).attr('id') );
		}
	});
	
	/**
	 * 画面読み込み時に、投票フォームの
	 * 項目を確認する。戻る等のボタンを押して
	 * キャッシュが残っている時にも対応。
	 * @return void
	 */
	function validateInitialize()
	{
		require.each(function()
		{
			if( 0 >= $(this).val() )
			{
				_errorMessage( $(this).attr('id') );
			}
			else
			{
				_successMessage( $(this).attr('id') );
			}
		});
	}
	
	/**
	 * 選択項目が正しい時のメッセージ
	 * @param id string
	 * @return void
	 */
	function _successMessage(id)
	{
		if(typeof id !== 'undefined')
		{
			$('label[for="'+id+'"]')
				.removeClass( errorLabel )
				.addClass( successLabel );
			$('label[for="'+id+'"]')
				.text( successLabelMessage );
		}
	}
	
	/**
	 * 選択項目が誤っている時のメッセージ
	 * @param id string
	 * @return void
	 */
	function _errorMessage(id)
	{
		if(typeof id !== 'undefined')
		{
			$('label[for="'+id+'"]')
				.removeClass( successLabel )
				.addClass( errorLabel )
			$('label[for="'+id+'"]')
				.text( errorLabelMessage );
		}
	}
	
});
</script>