<div id="aside">
<% if current_user %>
	<section class="aside-list">
		<h2>ユーザー情報</h2>		
		<ul>
			<li style="text-align: center;"><%= image_tag('contents/no_image.png') %></li>
			<li style="border-top:2px solid #333;padding:5px;">
				<strong><%= current_user.name %></strong>さん
			</li>
			<li style="border-top:2px solid #333;padding:5px;">
				現在のZeny：<span style="color:#ff6600;font-weight:bold;font-size:160%;"><%= current_user.point %></span>Zeny
			</li>
			<li style="border-top:2px solid #333;padding:5px">
				参加中レース数：<%= VotingCard.find(:all, :conditions => ["user_id = ?",current_user.id]).count %>
			</li>
			<li style="border-top:2px solid #333;padding:5px">
				終了レース数：<% VotingCard.find(:all, :conditions => ['user_id = ? AND payout IS NOT ?', current_user.id, nil]).count %>
			</li>
		</ul>
	</section>
<% end %>

	<section class="aside-list lib-aside-mTop">
		<h2><i class="icon-list icon-margin-right"></i>カテゴリー</h2>
		<ul>
		<% @genres.each do |genre| %>
			<li><a href="#genre_<%= genre.id %>"><span><%= genre.name %></span></a></li>
		<% end %>
		</ul>
	</section>
			
	<section class="lib-box lib-aside-mTop">
		<img src="images/aside/beginner.png" alt="" />
		<span style="font-size:230%;font-weight:bold;">初めての方</span>
	</section>
</div><!-- aside -->

<div id="main">
	<div id="race-list">
		<h2><%= image_tag('contents/race_list_bg.png', alt: '') %></h2>
		<div id="race-list-detail">
			<!-- ここから　ループ対象 -->
		<% @races.each do |race| %>
			<dl class="cf">
				<dt>
					<h3>
                <% if race.race_result and race.race_result.id %>
					<%= link_to race.name, race_result_path(race.id) %>
                <% else %>
                  <% if current_user and current_user.voting_cards.find {|c| c.race == race} and !race.race_progresses.empty? %>
					<%= link_to race.name, race_progress_path(race.id, :last) %>
                  <% else %>
					<%= link_to race.name, race %>
                  <% end %>
                <% end %>
					</h3>
				</dt><!--　タイトル名 -->
				<dd class="participant">
					参加者<span><%= race.voting_cards.size %></span>名
				</dd><!--　ジャンル名 -->
				<dd class="election-date">
					<p style="font-weight:bold">開催日</p>
					<%= race.start_date.strftime("%Y-%m-%d") %>
					<p style="font-weight:bold">終了日</p>
					<%= race.end_date.strftime("%Y-%m-%d") %>
				</dd><!-- 投票受付日から締日 -->
			</dl>
		<% end %>
			<!-- ここまで　-->
			<div class="last">
				<ul class="lib-pagination">
					<li><a href="#" class="active">1</a></li>
					<!-- <li class="next"><a href="">Next</a></li> -->
				</ul>
			</div>
		</div><!-- // race-list-detail -->
	</div><!-- // race-list -->
</div><!-- //main -->
