<h1>Listing race_horses</h1>

<table>
  <thead>
    <tr>
      <th>House no</th>
      <th>Comment</th>
      <th>Race</th>
      <th>Book</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @race_horses.each do |race_horse| %>
      <tr>
        <td><%= race_horse.house_no %></td>
        <td><%= race_horse.comment %></td>
        <td><%= race_horse.race_id %></td>
        <td><%= race_horse.book_id %></td>
        <td><%= link_to 'Show', race_horse %></td>
        <td><%= link_to 'Edit', edit_race_horse_path(race_horse) %></td>
        <td><%= link_to 'Destroy', race_horse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Race horse', new_race_horse_path %>
