<% unless flash[:error] %>
<%= render 'race_progresses/show_race_mode_no_modal' %>
<div id="race-comments-wrap">
  <h2 class="lib-box-title lib-aside-mTop">このレースに一言！</h2>
  <div id="race-comments" class="lib-box">
  	<div class="write">
      <%= form_for(@comment, {:url => comments_path(@race.id), :remote => true}) do |c| %>
        <%= c.hidden_field :user_id %>
        <%= c.text_field :comment, {class: 'lib-input lib-input-width-long'} %>
        <%= c.submit '書込み', {id: 'post-comment', class: 'lib-btn-black'} %>
      <% end %>
  	</div>
  	<div class="read">
	      <%= render 'comments/comments' %>
  	</div>
  </div><!-- #result-comments -->
</div><!-- #result-comments-wrap -->
<% else %>
	<%= render 'race_progresses/show_error' %>
<% end %>
<style type="text/css" media="screen">
#header {
	margin-bottom:0;
}
#contents {
	width:100%;
	margin-top:0;
}
#prog-date {
  font-size: 140%;
  font-weight: bold;
}

#progress-table {
	font-size:120%;
	border-spacing:0;
	border-collapse:collapse;
	text-align:center;
	border:4px solid #333;
	width:100%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#progress-table th {
	color:#333;
	background:#EEE;
	font-size:140%;
	font-weight:bold;
	padding:20px 10px;
	border:3px solid #333;
	border-bottom:3px solid #333;
}

#progress-table td {
	font-size:120%;
	font-weight:bold;
	background:#FFF;
	padding:20px 5px;
	border:3px solid #333;
}
#progress-table td.book-image img{width:auto;height:85px}
#progress-table td.point span {color:#FF6600;font-size:120%}
#progress-table td.rank{width:80px;font-size:150%}
#progress-table td.white {color:#333;background:#FFF}
#progress-table td.black {color:#FFF;background:#555}
#progress-table td.red {color:#FFF;background:#FF0000}
#progress-table td.orange {color:#FFF;background:#FF7700}
#progress-table td.yellow {color:#FFF;background:#F0C000}
#progress-table td.blue {color:#FFF;background:#0044CC}
#progress-table td.pink {color:#FFF;background:#FF0084}
#progress-table td.green {color:#FFF;background:#009900}
#progress-table td.skyblue{color:#FFF;background:#0088CC}
#progress-table td.limegreen{color:#FFF;background:#33EE33}

#race-comments {
	font-family:Arial, Helvetica, Hiragino Kaku Gothic Pro, "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", MS PGothic, "ＭＳ Ｐゴシック", MS Gothic, "ＭＳ ゴシック", sans-serif;
}

#race-comments .read dl {
	background:#FFF;
	border-bottom:2px solid #333;
	padding:10px 15px;
}
#race-comments .read dt {
	font-size:120%;
}
#race-comments .read dd {
	margin-top:8px;
	text-align:right;
}
#race-comments .write {
	padding:10px;
	background:#FFF;
}

</style>
