<% unless flash[:error] %>
<div id="race-modes-wrap">
<div id="race-modes">
	<h3 id="prog-date" style="font-size:70%;text-align: right"><%= Time.now.strftime('%Y-%m-%d %H:%M') %> 時点 レース状況</h3>
	<h2 style="margin:0 0 20px 0;display:block;background:#333;padding:10px;color:#FFF;font-size:190%;font-weight:bold">
	<i class="icon-trophy icon-margin-right" style="font-size:120%;font-weight:normal;color: yellow"></i>
		<%= @race.name %>
	</h2>
	<div id="ranking-list" class="cf"></div><!-- ランキングリスト -->
	<div id="race-modes-content" class="cf">
		<div id="race-modes-main">
			<div id="race-paint">
				<div class="inner">
					<div id="marquee"></div>
					<canvas id="race-canvas" width="720" height="400"></canvas>
				</div>
			</div>
		</div>
		<div id="race-modes-aside">
			<ul id="race-modes-tabs" class="cf">
				<li><a data-id="race-comment" class="active" href="javascript:void(0)">コメント</a></li>
				<li><a data-id="race-vote" href="javascript:void(0)">投票推移</a></li>
				<li><a data-id="race-participants" href="javascript:void(0)">参加者</a></li>
			</ul>
			<div id="race-modes-list">
				<div id="race-comment"></div>
				<div id="race-vote">
				<% @horse_count.each_value do |horse| %>
					<dl>
						<dt><%= horse['name'] %></dt>
						<dd><%= horse['count'] %> 票</dd>
					</dl>
				<% end %>
				</div>
				<div id="race-participants">
					<ul>
					<% @race.voting_cards.each do |card| %>
						<li><%= card.user.name %></li>
					<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="race-modes-comments">
		<form action="javascript:void(0)" id="comments" >
			<input type="text" class="lib-input" name="test" id="test" style="width:600px" placeholder="コメント入力してください！！" maxlength="38" />
			<input type="submit" class="lib-btn" value="送信" />
			<input type="button" id="comment-display" class="lib-btn-black show" value="コメント非表示" />
		</form>
	</div>
</div>
</div>
<div id="race-comments-wrap">
  <h2 class="lib-box-title lib-aside-mTop">このレースに一言！</h2>
  <div id="race-comments" class="lib-box">
  	<div class="write">
      <%= form_for(@comment, {:url => comments_path(@race.id), :remote => true}) do |c| %>
        <%= c.hidden_field :user_id %>
        <%= c.text_field :comment, {class: 'lib-input lib-input-width-long'} %>
        <%= c.submit '書込み', {id: 'post-comment', class: 'lib-btn-black'} %>
      <% end %>
  	</div>
  	<div class="read">
	      <%= render 'comments/comments' %>
  	</div>
  </div><!-- #result-comments -->
</div>
<input type="hidden" name="race_state" value="" id="race_state" />
<input type="hidden" name="race_id" value="<%= @prog.race.id %>" id="race_id" />
<% if current_user %>
<input type="hidden" name="user_name" value="<%= current_user.name %>" id="user_name" />
<% else %>
<input type="hidden" name="user_name" value="774競馬" id="user_name" />
<% end %>

<% if @user_voting_card %>
<% user_item = @user_voting_card.vote_items.find(:first) %>
<input type="hidden" id="select_horse" value="<%= user_item.race_horse_id %>" />
<% end %>
<script type="text/javascript" charset="utf-8">
$(window).load(function(){
	$('#race-modes-tabs').find('a').click(function(){
		var listId = '#'+$(this).attr('data-id');
		$('#race-modes-tabs').find('a').removeClass('active');
		$('#race-modes-list').find('div').hide();
		$(listId).show();
		$(this).addClass('active');
	});
	$('#comment-display').click(function(){
		if($(this).hasClass('show')){
			$(this).removeClass('show').addClass('hide');
			$(this).val('コメント表示');
			$('#marquee').hide();
		} else {
			$(this).removeClass('hide').addClass('show');
			$(this).val('コメント非表示');
			$('#marquee').html('');
			$('#marquee').show();
		}
	});
});
$(window).load(function()
{
//websocket
	var host = 'ws://denka-ws.herokuapp.com/';
	var ws = new WebSocket(host);
	var raceId = $('#race_id').val();
	var userName = $('#user_name').val();
	var parentMarquee = $("#marquee");
	var _marquee = $(".marquee　marquee");
	var _logList = $("#race-comment");
	var comments = $("#comments");
	var values = $("#test");
	_logList.perfectScrollbar();
	
//===========================================================================================================
//　Event関連
//===========================================================================================================

	// open
	ws.onopen = function (){
		var message = {race_id: raceId, type: 'join'};
		ws.send(JSON.stringify(message));
	};

	  // receive
	ws.onmessage = function (event){
		var getMessage = JSON.parse(event.data);
		sendMarquee(getMessage.comment);
		sendLog(getMessage.comment, getMessage.user_name);
	};

	// close
	ws.onclose = function(event){
		console.log(ws.readyState);
	};
	
	comments.submit(function(){
		if( validateMarquee(values.val())){
		    var message = {race_id: raceId, type: 'post', user_name: userName, comment: values.val()};
		    ws.send(JSON.stringify(message));
			values.val("");
		} 
		return false;
	});

//===========================================================================================================
//　Log関連
//===========================================================================================================
	function sendLog(text, name){
		var results = '<dl><dt>'+ htmlSpecialChars(text) +'</dt><dd>'+ getCurrentTime() +'<p>by　'+ htmlSpecialChars(name) +'</p></dd></dl>';
		_logList.prepend(results);
	}
	
	function getCurrentTime(){
		var now   = new Date();
		var year  = now.getYear() < 2000 ? now.getYear() + 1900 : now.getYear();
		var month = now.getMonth() + 1;
		var day   = now.getDate();
		var hour  = now.getHours();
		var min   = now.getMinutes() < 10 ? '0' + now.getMinutes() : now.getMinutes();
		return year +'/'+ month +'/'+ day +' '+ hour +':'+ min
	}

//===========================================================================================================
//　Marquee関連
//===========================================================================================================

	function sendMarquee(text){
		var results = '<marquee behavior="scroll" loop="1" style="top:'+ _marqueePosition() +'px" scrollamount="'+ _marqueeSpeed(text) +'" direction="left">'+ htmlSpecialChars(text) +'</marquee>';
		parentMarquee.append(results);
	}
	
	function validateMarquee(text){
		if(42 > text.length && 0 < text.length) return true;
		return false;   
	}
	
	function _marqueePosition(){
		var positionY = 0
		if(parentMarquee.find("marquee").size() % 20 === 0)
		{
			positionY = 0
		} else {
			positionY = (parentMarquee.find("marquee").size() % 20) * 20;
		}
		return positionY;
	}
	
	function _marqueeSpeed(text){
		if(text.length > 41) {
			return 80;
		} 
		else if(text.length > 36 && text.length < 40) {
			return 75;
		}
		else if(text.length > 31 && text.length < 35) {
			return 70;
		}
		else if(text.length > 14 && text.length < 30) {
			return 50;
		}
		else {
			return 30;
		}
	}
	
	function htmlSpecialChars(str){
	    return str.replace(/&/g, "&amp;").replace(/"/g, "&quot;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
	}
	
});
</script>
<% else %>
	<%= render 'race_progresses/show_error' %>
<% end %>
<style type="text/css" media="screen">
#header {
	margin-bottom:0;
}
#contents {
	width:100%;
	margin-top:0;
}
#prog-date {
  font-size: 140%;
  font-weight: bold;
}

#progress-table {
	font-size:120%;
	border-spacing:0;
	border-collapse:collapse;
	text-align:center;
	border:4px solid #333;
	width:100%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#progress-table th {
	color:#333;
	background:#EEE;
	font-size:140%;
	font-weight:bold;
	padding:20px 10px;
	border:3px solid #333;
	border-bottom:3px solid #333;
}

#progress-table td {
	font-size:120%;
	font-weight:bold;
	background:#FFF;
	padding:20px 5px;
	border:3px solid #333;
}
#progress-table td.book-image img{width:auto;height:85px}
#progress-table td.point span {color:#FF6600;font-size:120%}
#progress-table td.rank{width:80px;font-size:150%}
#progress-table td.white {color:#333;background:#FFF}
#progress-table td.black {color:#FFF;background:#555}
#progress-table td.red {color:#FFF;background:#FF0000}
#progress-table td.orange {color:#FFF;background:#FF7700}
#progress-table td.yellow {color:#FFF;background:#F0C000}
#progress-table td.blue {color:#FFF;background:#0044CC}
#progress-table td.pink {color:#FFF;background:#FF0084}
#progress-table td.green {color:#FFF;background:#009900}
#progress-table td.skyblue{color:#FFF;background:#0088CC}
#progress-table td.limegreen{color:#FFF;background:#33EE33}

#race-comments {
	font-family:Arial, Helvetica, Hiragino Kaku Gothic Pro, "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", MS PGothic, "ＭＳ Ｐゴシック", MS Gothic, "ＭＳ ゴシック", sans-serif;
}

#race-comments .read dl {
	background:#FFF;
	border-bottom:2px solid #333;
	padding:10px 15px;
}
#race-comments .read dt {
	font-size:120%;
}
#race-comments .read dd {
	margin-top:8px;
	text-align:right;
}
#race-comments .write {
	padding:10px;
	background:#FFF;
}

</style>
