<!DOCTYPE html>
<html>
<head>
  <title>Enpit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>
<% if params[:controller]+params[:action] == "racestop" %>
<%= render 'layouts/top_page_parts' %>
<% end %>
<div id="contents" class="cf">
<%= yield %>
</div>
<%= render 'layouts/footer' %>

</body>
</html>
